.DS_Store
.idea/
.vscode/
__pycache__/
.pytest_cache/
venv/
.process_data/
*.egg-info/

*.pid.lock

*.py[cod]
*$py.class

.project
.coverage

*.csv
*.log
*.out
*.bak
*.db
*.xml
*.json

logs/

.ipynb*
*.ipynb
*.html
