.DS_Store
.idea/
.vscode/
__pycache__/
.pytest_cache/
venv*/

*.egg-info/
dist/
build/

.process_data/
*.pid.lock

*.py[cod]
*$py.class

.project
.coverage

*.csv
*.log
*.out
*.bak
*.db
*.xml
*.json

logs/

.ipynb*
*.ipynb
*.html

docs/sniputils*.rst
docs/src*.rst
docs/modules.rst
