click >= 6.7
arrow >= 0.12.1
python-dateutil >= 2.6.0

pandas >= 0.23.4
numpy >= 1.15.1

PyMySQL >= 0.9.2
mongoengine >= 0.15.3
elasticsearch >= 6.3.1
elasticsearch-dsl >= 6.3.0
SQLAlchemy >= 1.2.11
dataset >= 1.1.0

oss2 >= 2.5.0

python_daemon >= 2.2.0
